<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maxith.oauth.mapper.OauthClientMapper">
    <resultMap id="BaseResultMap" type="com.maxith.oauth.entity.OauthClient">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="client_id" property="clientId" jdbcType="VARCHAR"/>
        <result column="client_secret" property="clientSecret" jdbcType="VARCHAR"/>
        <result column="redirect_uri" property="redirectUri" jdbcType="VARCHAR"/>
        <result column="client_uri" property="clientUri" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="icon_uri" property="iconUri" jdbcType="VARCHAR"/>
        <result column="scope" property="scope" jdbcType="VARCHAR"/>
        <result column="grant_types" property="grantTypes" jdbcType="VARCHAR"/>
        <result column="access_token_validity" property="accessTokenValidity" jdbcType="BIGINT"/>
        <result column="refresh_token_validity" property="refreshTokenValidity" jdbcType="BIGINT"/>
        <result column="trusted" property="trusted" jdbcType="TINYINT"/>
        <result column="archived" property="archived" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, client_id, client_secret, redirect_uri, client_uri, description, icon_uri, 
    scope, grant_types, access_token_validity, refresh_token_validity, trusted, archived, 
    create_time, update_time, remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from oauth_client
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oauth_client
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.maxith.oauth.entity.OauthClient">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into oauth_client (name, client_id, client_secret,
        redirect_uri, client_uri, description,
        icon_uri, scope, grant_types,
        access_token_validity, refresh_token_validity,
        trusted, archived, create_time,
        update_time, remark)
        values (#{name,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR},
        #{redirectUri,jdbcType=VARCHAR}, #{clientUri,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{iconUri,jdbcType=VARCHAR}, #{scope,jdbcType=VARCHAR}, #{grantTypes,jdbcType=VARCHAR},
        #{accessTokenValidity,jdbcType=BIGINT}, #{refreshTokenValidity,jdbcType=BIGINT},
        #{trusted,jdbcType=TINYINT}, #{archived,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.maxith.oauth.entity.OauthClient">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into oauth_client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="clientId != null">
                client_id,
            </if>
            <if test="clientSecret != null">
                client_secret,
            </if>
            <if test="redirectUri != null">
                redirect_uri,
            </if>
            <if test="clientUri != null">
                client_uri,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="iconUri != null">
                icon_uri,
            </if>
            <if test="scope != null">
                scope,
            </if>
            <if test="grantTypes != null">
                grant_types,
            </if>
            <if test="accessTokenValidity != null">
                access_token_validity,
            </if>
            <if test="refreshTokenValidity != null">
                refresh_token_validity,
            </if>
            <if test="trusted != null">
                trusted,
            </if>
            <if test="archived != null">
                archived,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientSecret != null">
                #{clientSecret,jdbcType=VARCHAR},
            </if>
            <if test="redirectUri != null">
                #{redirectUri,jdbcType=VARCHAR},
            </if>
            <if test="clientUri != null">
                #{clientUri,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="iconUri != null">
                #{iconUri,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=VARCHAR},
            </if>
            <if test="grantTypes != null">
                #{grantTypes,jdbcType=VARCHAR},
            </if>
            <if test="accessTokenValidity != null">
                #{accessTokenValidity,jdbcType=BIGINT},
            </if>
            <if test="refreshTokenValidity != null">
                #{refreshTokenValidity,jdbcType=BIGINT},
            </if>
            <if test="trusted != null">
                #{trusted,jdbcType=TINYINT},
            </if>
            <if test="archived != null">
                #{archived,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.maxith.oauth.entity.OauthClient">
        update oauth_client
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="clientId != null">
                client_id = #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientSecret != null">
                client_secret = #{clientSecret,jdbcType=VARCHAR},
            </if>
            <if test="redirectUri != null">
                redirect_uri = #{redirectUri,jdbcType=VARCHAR},
            </if>
            <if test="clientUri != null">
                client_uri = #{clientUri,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="iconUri != null">
                icon_uri = #{iconUri,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                scope = #{scope,jdbcType=VARCHAR},
            </if>
            <if test="grantTypes != null">
                grant_types = #{grantTypes,jdbcType=VARCHAR},
            </if>
            <if test="accessTokenValidity != null">
                access_token_validity = #{accessTokenValidity,jdbcType=BIGINT},
            </if>
            <if test="refreshTokenValidity != null">
                refresh_token_validity = #{refreshTokenValidity,jdbcType=BIGINT},
            </if>
            <if test="trusted != null">
                trusted = #{trusted,jdbcType=TINYINT},
            </if>
            <if test="archived != null">
                archived = #{archived,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.maxith.oauth.entity.OauthClient">
    update oauth_client
    set name = #{name,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      client_secret = #{clientSecret,jdbcType=VARCHAR},
      redirect_uri = #{redirectUri,jdbcType=VARCHAR},
      client_uri = #{clientUri,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      icon_uri = #{iconUri,jdbcType=VARCHAR},
      scope = #{scope,jdbcType=VARCHAR},
      grant_types = #{grantTypes,jdbcType=VARCHAR},
      access_token_validity = #{accessTokenValidity,jdbcType=BIGINT},
      refresh_token_validity = #{refreshTokenValidity,jdbcType=BIGINT},
      trusted = #{trusted,jdbcType=TINYINT},
      archived = #{archived,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByClientId" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM oauth_client WHERE client_id = #{clientId,jdbcType=VARCHAR}
    </select>
</mapper>